<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="smtpServer" value="smtp.gmail.com"/>
    <add key="smtpPort" value="587"/>
    <add key="smtpUserName" value="fila101@gmail.com"/>
    <add key="smtpPassword" value="angora101"/>
    <add key="smtpSSL" value="true"/>
  </appSettings>
</configuration>