@{
    Layout = null;
}

<div class="row">
    <h1 class="text-center" id="rsvp">RSVP</h1>
    <div class="box top">
    </div>
    <div class="box middle"></div>
    <div class="box bottom">
    </div>
</div>
