        <ul class="techimg">
            <li>
                <img src="/Content/images/tech/csharp.jpg" alt="csharp" /></li>
            <li>
                <img src="/Content/images/tech/android.jpg" alt="android" /></li>
            <li>
                <img src="/Content/images/tech/apple.jpg" alt="apple" /></li>
            <li>
                <img src="/Content/images/tech/asp.jpg" alt="asp" /></li>
            <li>
                <img src="/Content/images/tech/html5.jpg" alt="html5" /></li>
            <li>
                <img src="/Content/images/tech/java.jpg" alt="java" /></li>
            <li>
                <img src="/Content/images/tech/linux.jpg" alt="linux" /></li>
            <li>
                <img src="/Content/images/tech/redhat.jpg" alt="redhat" /></li>
            <li>
                <img src="/Content/images/tech/sql.jpg" alt="sql" /></li>
            <li>
                <img src="/Content/images/tech/universe.jpg" alt="universe" /></li>
            <li>
                <img src="/Content/images/tech/winserver.jpg" alt="winserver" /></li>
            <li>
                <img src="/Content/images/tech/xmls.jpg" alt="xml" /></li>
        </ul>