@{
    Layout = null;
}

<div class="row bpad">
    <div>
        <h2>Contact Us</h2>
    </div>
    <div class="col-md-9">
        <form>
            <div class="form-group row">
                <label for="name" class="control-label text-center col-md-10 col-md-offset-1">Name<input name="name" type="text" class="form-control" /></label>
            </div>
            <div class="form-group row">
                <label for="message" class="control-label text-center col-md-10 col-md-offset-1">Message<textarea name="message" rows="6" class="form-control" /></label>
            </div>
            <div class="form-group row">
                <input class="btn btn-default  col-md-offset-9" type="button" value="Send" />
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <ul class="tpad">
            <li><label><i class="glyphicon glyphicon-envelope"></i> alieziaherman@gmail.com</label></li>
            <li><label><i class="glyphicon glyphicon-earphone"></i> alieziaherman@gmail.com</label></li>
            <li><label><i class="glyphicon glyphicon-earphone"></i> alieziaherman@gmail.com</label></li>
            <li><label><i class="glyphicon glyphicon-hand-right"></i> alieziaherman@gmail.com</label></li>
            <li><label><i class="glyphicon glyphicon-hand-right"></i> alieziaherman@gmail.com</label></li>
        </ul>
    </div>
</div>
