@model wedding.logic.POCO.WeddingSummary
@{
    Layout = null;
}

<div class="row bpad">
    <div>
        <h2>Our Story</h2>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <p>@Model.Wedding.OurStory</p>
        </div>
    </div>
