  <section>
        <header>
            <h3>Business Analyst</h3>
        </header>
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td>Level</td>
                    <td>Years</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="label">User case design</span></td>
                    <td>
                        <div class="meter animate orange">
                            <span style="width: 50%"><span></span></span>
                        </div>
                    </td>
                    <td>4</td>
                </tr>
                <tr>
                    <td><span class="label">User requirements</span></td>
                    <td>
                        <div class="meter animate green">
                            <span style="width: 75%"><span></span></span>
                        </div>
                    </td>
                    <td>4</td>
                </tr>
                <tr>
                    <td><span class="label">Functional specification development</span></td>
                    <td>
                        <div class="meter animate orange">
                            <span style="width: 50%"><span></span></span>
                        </div>
                    </td>
                    <td>4</td>
                </tr>
                <tr>
                    <td><span class="label">Technical specification development</span></td>
                    <td>
                        <div class="meter animate green">
                            <span style="width: 75%"><span></span></span>
                        </div>
                    </td>
                    <td>4</td>
                </tr>
                <tr>
                    <td><span class="label">SDLC</span></td>
                    <td>
                        <div class="meter animate green">
                            <span style="width: 85%"><span></span></span>
                        </div>
                    </td>
                    <td>5</td>
                </tr>
                <tr>
                    <td><span class="label">Software development</span></td>
                    <td>
                        <div class="meter animate green">
                            <span style="width: 85%"><span></span></span>
                        </div>
                    </td>
                    <td>8</td>
                </tr>
                 <tr>
                    <td><span class="label">System design</span></td>
                    <td>
                        <div class="meter animate green">
                            <span style="width: 75%"><span></span></span>
                        </div>
                    </td>
                    <td>5</td>
                </tr>
            </tbody>
        </table>
    </section>