<section>
    <header>
        <h3>Network/Hardware</h3>
    </header>
    <table>
        <thead>
            <tr>
                <td></td>
                <td>Level</td>
                <td>Years</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="label">Routers</span></td>
                <td>
                    <div class="meter animate orange">
                        <span style="width: 60%"><span></span></span>
                    </div>
                </td>
                <td>4</td>
            </tr>
            <tr>
                <td><span class="label">Wireless</span></td>
                <td>
                    <div class="meter animate orange">
                        <span style="width: 60%"><span></span></span>
                    </div>
                </td>
                <td>5</td>
            </tr>
            <tr>
                <td><span class="label">Network cards</span></td>
                <td>
                    <div class="meter animate green">
                        <span style="width: 80%"><span></span></span>
                    </div>
                </td>
                <td>8</td>
            </tr>
            <tr>
                <td><span class="label">Juniper networks</span></td>
                <td>
                    <div class="meter animate orange">
                        <span style="width: 50%"><span></span></span>
                    </div>
                </td>
                <td>2</td>
            </tr>
            <tr>
                <td><span class="label">3Com</span></td>
                <td>
                    <div class="meter animate red">
                        <span style="width: 30%"><span></span></span>
                    </div>
                </td>
                <td>3</td>
            </tr>
            <tr>
                <td><span class="label">Cisco</span></td>
                <td>
                    <div class="meter animate red">
                        <span style="width: 40%"><span></span></span>
                    </div>
                </td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
</section>
