  <section>
        <header>
            <h3>Operating Systems</h3>
        </header>
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td>Level</td>
                    <td>Years</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="label">Linux</span></td>
                    <td>
                        <div class="meter animate orange">
                            <span style="width: 50%"><span></span></span>
                        </div>
                    </td>
                    <td>2</td>
                </tr>
                <tr>
                    <td><span class="label">Mac OS X</span></td>
                    <td>
                        <div class="meter animate green">
                            <span style="width: 75%"><span></span></span>
                        </div>
                    </td>
                    <td>3</td>
                </tr>
                <tr>
                    <td><span class="label">Windows XP/Vista/7/8</span></td>
                    <td>
                        <div class="meter animate green">
                            <span style="width: 90%"><span></span></span>
                        </div>
                    </td>
                    <td>8</td>
                </tr>
                <tr>
                    <td><span class="label">Windows Server 2003/2008</span></td>
                    <td>
                        <div class="meter animate green">
                            <span style="width: 80%"><span></span></span>
                        </div>
                    </td>
                    <td>5</td>
                </tr>
                <tr>
                    <td><span class="label">Windows Mobile</span></td>
                    <td>
                        <div class="meter animate orange">
                            <span style="width: 50%"><span></span></span>
                        </div>
                    </td>
                    <td>1</td>
                </tr>
                <tr>
                    <td><span class="label">iOS</span></td>
                    <td>
                        <div class="meter animate orange">
                            <span style="width: 60%"><span></span></span>
                        </div>
                    </td>
                    <td>3</td>
                </tr>
                <tr>
                    <td><span class="label">Android</span></td>
                    <td>
                        <div class="meter animate orange">
                            <span style="width: 70%"><span></span></span>
                        </div>
                    </td>
                    <td>3</td>
                </tr>
                <tr>
                    <td><span class="label">Blackberry OS</span></td>
                    <td>
                        <div class="meter animate red">
                            <span style="width: 40%"><span></span></span>
                        </div>
                    </td>
                    <td>1</td>
                </tr>
                 <tr>
                    <td><span class="label">Solaris</span></td>
                    <td>
                        <div class="meter animate red">
                            <span style="width: 20%"><span></span></span>
                        </div>
                    </td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </section>