  <section>
        <header>
            <h3>Protocols/Topologies</h3>
        </header>
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td>Level</td>
                    <td>Years</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="label">ADSL</span></td>
                    <td>
                        <div class="meter animate orange">
                            <span style="width: 60%"><span></span></span>
                        </div>
                    </td>
                    <td>4</td>
                </tr>
                <tr>
                    <td><span class="label">ISDN</span></td>
                    <td>
                        <div class="meter animate orange">
                            <span style="width: 60%"><span></span></span>
                        </div>
                    </td>
                    <td>2</td>
                </tr>
                <tr>
                    <td><span class="label">Ethernet</span></td>
                    <td>
                        <div class="meter animate green">
                            <span style="width: 80%"><span></span></span>
                        </div>
                    </td>
                    <td>8</td>
                </tr>
                <tr>
                    <td><span class="label">IEEE 802.x Wifi</span></td>
                    <td>
                        <div class="meter animate orange">
                            <span style="width: 60%"><span></span></span>
                        </div>
                    </td>
                    <td>5</td>
                </tr>
                 <tr>
                    <td><span class="label">TCP/IP</span></td>
                    <td>
                        <div class="meter animate green">
                            <span style="width: 75%"><span></span></span>
                        </div>
                    </td>
                    <td>8</td>
                </tr>
            </tbody>
        </table>
    </section>