  <section>
        <header>
            <h3>Testing Tools</h3>
        </header>
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td>Level</td>
                    <td>Years</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="label">Software testing</span></td>
                    <td>
                        <div class="meter animate orange">
                            <span style="width: 60%"><span></span></span>
                        </div>
                    </td>
                    <td>4</td>
                </tr>
                <tr>
                    <td><span class="label">Manual testing</span></td>
                    <td>
                        <div class="meter animate orange">
                            <span style="width: 70%"><span></span></span>
                        </div>
                    </td>
                    <td>6</td>
                </tr>
                <tr>
                    <td><span class="label">Automated testing</span></td>
                    <td>
                        <div class="meter animate orange">
                            <span style="width: 60%"><span></span></span>
                        </div>
                    </td>
                    <td>3</td>
                </tr>
                <tr>
                    <td><span class="label">Functional testing</span></td>
                    <td>
                        <div class="meter animate orange">
                            <span style="width: 60%"><span></span></span>
                        </div>
                    </td>
                    <td>5</td>
                </tr>
                <tr>
                    <td><span class="label">Regression testing</span></td>
                    <td>
                        <div class="meter animate orange">
                            <span style="width: 60%"><span></span></span>
                        </div>
                    </td>
                    <td>4</td>
                </tr>
                <tr>
                    <td><span class="label">Performance testing</span></td>
                    <td>
                        <div class="meter animate orange">
                            <span style="width: 50%"><span></span></span>
                        </div>
                    </td>
                    <td>2</td>
                </tr>
                 <tr>
                    <td><span class="label">Load testing</span></td>
                    <td>
                        <div class="meter animate orange">
                            <span style="width: 50%"><span></span></span>
                        </div>
                    </td>
                    <td>2</td>
                </tr>
            </tbody>
        </table>
    </section>