
@{
    Layout = null;
}
<div class="row">
    <h2 class="text-center" style=""display:inline-block">Manage Wedding Check List </h2>
     <button type="button" class="btn btn-success btn-lg btn-commit" ng-click="SaveChanges()">
      Save
    </button>
</div>