                 
                        <div class="fullwidth-row">
                            <div class="fullwidth-row_wrap_inner">
                                <hgroup class="title-box clearfix ">
                                    <h2 class="title-box_primary">Testimonials</h2>
                                </hgroup>
                                <div class="carousel-wrap ">
                                    <div id="carousel-testimonial" class="es-carousel-wrapper">
                                        <div class="es-carousel">
                                            <ul class="es-carousel_list unstyled" style="width: 1800px; display: block; margin-left: 0px;">
                                                <li class="es-carousel_li " style="margin-right: 30px; width: 270px;">
                                                    <div class="desc">
                                                        <blockquote class="testi-item_blockquote"><a href="http://livedemo00.template-help.com/wordpress_45512/testimonial-view/1890/">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci... </a></blockquote>
                                                        <img src="~/Content/images/img_4-50x50.jpg" class="testi-thumb" alt="Tom Smith"><div class="testi_data">
                                                            <div class="testi_user">Tom Smith</div>
                                                            <div class="testi_info">- Business Advisor, USA</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="es-carousel_li " style="margin-right: 30px; width: 270px;">
                                                    <div class="desc">
                                                        <blockquote class="testi-item_blockquote"><a href="http://livedemo00.template-help.com/wordpress_45512/testimonial-view/1886/">Lorem ipsum dolor sit amet, consec tetuer adipi scing elit, sed diam no nummy nibh eui smod tin cidunt ut laoreet dol ore magna aliquam erat vol utpat. Ut wisi... </a></blockquote>
                                                        <img src="~/Content/images/img_2-50x50.jpg" class="testi-thumb" alt="Sarah Braun"><div class="testi_data">
                                                            <div class="testi_user">Sarah Braun</div>
                                                            <div class="testi_info">- Student, USA</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="es-carousel_li " style="margin-right: 30px; width: 270px;">
                                                    <div class="desc">
                                                        <blockquote class="testi-item_blockquote"><a href="http://livedemo00.template-help.com/wordpress_45512/testimonial-view/1887/">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, seddiam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratvolutpat. Utwisi enimad minim veniam, quis nostrud exerci tation ulla mcorper suscipit... </a></blockquote>
                                                        <img src="~/Content/images/img_3-50x50.jpg" class="testi-thumb" alt="Sean Johnson"><div class="testi_data">
                                                            <div class="testi_user">Sean Johnson</div>
                                                            <div class="testi_info">- Developer, USA</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="es-carousel_li " style="margin-right: 30px; width: 270px;">
                                                    <div class="desc">
                                                        <blockquote class="testi-item_blockquote"><a href="http://livedemo00.template-help.com/wordpress_45512/testimonial-view/1888/">Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut lao reet dolore ma gna aliquam erat volu tpat. Ut wisi enim ad minim... </a></blockquote>
                                                        <img src="~/Content/images/img_1-50x50.jpg" class="testi-thumb" alt="Jessica Pete"><div class="testi_data">
                                                            <div class="testi_user">Jessica Pete</div>
                                                            <div class="testi_info">- Student, USA</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="es-carousel_li " style="margin-right: 30px; width: 270px;">
                                                    <div class="desc">
                                                        <blockquote class="testi-item_blockquote"><a href="http://livedemo00.template-help.com/wordpress_45512/testimonial-view/testimonial-3/">Aenean nonummy hendrerit mau phasellu porta. Fusce suscipit varius mi sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio morbi.... </a></blockquote>
                                                        <img src="~/Content/images/business_1-50x50.jpg" class="testi-thumb" alt="Tim Barkley"><div class="testi_data">
                                                            <div class="testi_user">Tim Barkley</div>
                                                            <div class="testi_info">- Manager</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="es-carousel_li " style="margin-right: 30px; width: 270px;">
                                                    <div class="desc">
                                                        <blockquote class="testi-item_blockquote"><a href="http://livedemo00.template-help.com/wordpress_45512/testimonial-view/testimonial-2/">Aenean nonummy hendrerit mau phasellu porta. Fusce suscipit varius mi sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio morbi.... </a></blockquote>
                                                        <img src="~/Content/images/business_2-50x50.jpg" class="testi-thumb" alt="Lisa Whistler"><div class="testi_data">
                                                            <div class="testi_user">Lisa Whistler</div>
                                                            <div class="testi_info">- Consultant</div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="es-nav"><span class="es-nav-prev" style="display: none;">Previous</span><span class="es-nav-next">Next</span></div>
                                    </div>

                                </div>
                            </div>
                        </div>


<script>
                                        (function ($) {
                                            if ($.browser.msie && $.browser.version == "8.0") {
                                                jQuery("#carousel-testimonial").elastislide({
                                                    imageW: 270,
                                                    minItems: 4,
                                                    speed: 600,
                                                    easing: "easeOutQuart",
                                                    margin: 30,
                                                    border: 0,
                                                    onClick: function () { }
                                                });
                                            } else {
                                                var resizeTimer = null;
                                                var obj = jQuery("#carousel-testimonial").clone();
                                                if (jQuery(window).width() > 550) {
                                                    jQuery("#carousel-testimonial").elastislide({
                                                        imageW: 270,
                                                        minItems: 4,
                                                        speed: 600,
                                                        easing: "easeOutQuart",
                                                        margin: 30,
                                                        border: 0,
                                                        onClick: function () { }
                                                    });
                                                } else {
                                                    jQuery("#carousel-testimonial").elastislide({
                                                        imageW: 270,
                                                        minItems: 2,
                                                        speed: 600,
                                                        easing: "easeOutQuart",
                                                        margin: 10,
                                                        border: 0,
                                                        onClick: function () { }
                                                    });
                                                }
                                                jQuery(window).resize(function () {
                                                    resizeTimer && clearTimeout(resizeTimer); // Cleraring old timer to avoid unwanted resize calls.
                                                    resizeTimer = setTimeout(function () {
                                                        jQuery("#carousel-testimonial").closest(".es-carousel-wrapper").replaceWith(jQuery(obj).clone());
                                                        if (jQuery(window).width() > 550) {
                                                            jQuery("#carousel-testimonial").elastislide({
                                                                imageW: 270,
                                                                minItems: 4,
                                                                speed: 600,
                                                                easing: "easeOutQuart",
                                                                margin: 30,
                                                                border: 0,
                                                                onClick: function () { }
                                                            });
                                                        } else {
                                                            jQuery("#carousel-testimonial").elastislide({
                                                                imageW: 270,
                                                                minItems: 2,
                                                                speed: 600,
                                                                easing: "easeOutQuart",
                                                                margin: 10,
                                                                border: 0,
                                                                onClick: function () { }
                                                            });
                                                        }
                                                    }, 200);
                                                });
                                            }
                                        })(jQuery);</script>