@{
    ViewBag.Title = "About";
    ViewBag.Description = "What is between the book's cover";
}

<section>
    <header><h3>Professional Life</h3></header>
    <p>
        I am a senior software developer, currently working for one of South Africa's insurance giants, OUTsurance.
    </p>
    <p>I have a strong passion for computer software development and system architecure. My life as a programmer started back in 2000, when I still was in school.
        As with most things in life, I had to crawl before I can walk. I 1st became fimiliar with the language and inner workings of <strong>Turbo Pascal</strong>. I then continue to persue my passion by studying 
        software development and design at the Technicon Pretoria in 2003. I completed my national diploma in 2006, and took my 1st job as a junior developer at Dimention Data's 3fifteen devision.
        I had the privileged to became fimiliar with <strong>C#</strong> and various other Microsoft technologies. In this time I became a <strong>Microsoft Certified Professional</strong> in both web and web servics implementations.
    </p>
    <p>
        Working for <strong>3fifteen</strong> for 1 year I decided to try my hand at telephony systems and became part of a newly formed company called <strong>African Pulse Mobile Systems (AMS)</strong>.
        With the small startup company I worked as a implementation and intergration engineer for the 1st few months as development work was slow. In this time I became fimiliar with <strong>Linux</strong> and <strong>Java</strong> environments.
        I worked on projects where we implemented voicemail systems for Vodacom, Cell C, and other smaller cellphone companies in Southern Africa.
        As the companies client base grew, I became an expert in working with VXML and developing and custimizing voicemail systems. I had the privilige to go work with the Nokia team in Finland to learn from 
        them, and coming back did Cell C's voicemail system. 
    </p>
    <p>
        After a few years at AMS, a friend and I was presented with an opportunity to start our own software company, <strong>Supernatural Technologies</strong>. We started by coding from our flat, and eventually got a big contract from a company called Finrite.
        With the contract from Finrite, I left AMS to give my full attention to this client. They required us to develop a new system in<strong> Microsoft .Net</strong> to cater for their cellhpone insurance providers.
        This system called, Synergy, was used in the Finrite call centre to manage policies, claims and work allocation for the company. We successfully implemented this to cater for Autopage, Virgin Mobile and other cellphone insurance providers.
    </p>
    <p>
        Our contract ended after 2 years with Finrite changing management, and I returned back to working as a professional developer. I started working for a small underwriting company called <strong>Strategic Insurance Systems (SIS)</strong>.
        I started in March of 2010 as a senior software developer. Working at SIS I continued to develop insurance based systems using Microsoft .Net and SQL server technologies. I re-designed the domestic and claim systems for the company.
        As well as developed new claim payment processes and an underwriting system for forklift cranes. I worked for SIS for 2 years, and got a job at OUTsurance through a friend of mine in 2012. 
    </p>
    <p>
        Currently still working for <strong>OUTsurance</strong>, I still use Microsoft technologies to do various integration work and well as mobile application development for the company.
        To do date I am still learing and living my passion for software design.
        Click @Html.ActionLink("here", "Career") for detailed information  
    </p>
</section>

<section>
    <header><h3>Personal Life</h3></header>
    <p>
        When I am not working, I love playing. My other huge passion is definately running.
    </p>
    <p>
        I have been a runner for the last few years, and enjoy running long distance most. Being a Comrades marathong junky, you will most likely find me at the local weekend races busy preparing for the big race every year at the beginning of June.
        The running culture is my comfort zone, and I get so much positive influence from the culture. It also provides me with space to vent and refersh my mind on a dialy basis.
    </p>
    <p>
        In running I was lucky to be blessed with the love of my life, <strong>Aliezia</strong>. The two of us love to travel and plan for new races, but after all is done, its the best place in the world just to end the day with each other.
        She is my corner stone, and I cherish every moment that we have together. I strongly believe that God has blessed me with the best partner in the world.
        Click @Html.ActionLink("here", "Gallery") to view some our adventures together
    </p>
  
</section>