@{
    ViewBag.Title = "Career";
}

<section class="career">
    <header>
        <h4>Senior Software Developer in .Net (Started 2012 and current position)</h4>
        <h5>OUTsurance</h5>
        <ul class="techimg">
            <li>
                <img src="/Content/images/tech/csharp.jpg" alt="csharp" /></li>
            <li>
                <img src="/Content/images/tech/asp.jpg" alt="asp" /></li>
            <li>
                <img src="/Content/images/tech/java.jpg" alt="java" /></li>
            <li>
                <img src="/Content/images/tech/android.jpg" alt="android" /></li>
            <li>
                <img src="/Content/images/tech/apple.jpg" alt="apple" /></li>
            <li>
                <img src="/Content/images/tech/html5.jpg" alt="html5" /></li>
            <li>
                <img src="/Content/images/tech/sql.jpg" alt="sql" /></li>
            <li>
                <img src="/Content/images/tech/universe.jpg" alt="universe" /></li>
            <li>
                <img src="/Content/images/tech/winserver.jpg" alt="winserver" /></li>
            <li>
                <img src="/Content/images/tech/xmls.jpg" alt="xml" /></li>
        </ul>
    </header>
    <p>
        <span class="label">Developing mobile applications</span>
        <ul>
            <li>
                <h6>Smart Device Client Project</h6>
                <p>Developed OUTsurance's client care application for iOS and Android devices.</p>
                <ul class="refimg">
                    <li><a id="playstore" href="https://play.google.com/store/apps/details?id=za.co.outsurance&amp;hl=en" target="_blank">
                        <img src="/Content/images/android_app.png" /></a></li>
                    <li><a id="itunes" href="https://itunes.apple.com/za/app/outsurance/id646353691?mt=8" target="_blank">
                        <img src="/Content/images/apple_app.png" /></a></li>
                </ul>

            </li>
            <li>
                <h6>SIAS Vehicle Inspection Project</h6>
                <p>Developed SIAS's vehicle inspection application intended for PG Auto Glass and Glassfit</p>
                <ul class="refimg">
                    <li><a id="playstore" href="https://play.google.com/store/apps/details?id=za.outsurance.inspection&hl=en" target="_blank">
                        <img src="/Content/images/android_app.png" /></a></li>
                    <li><a id="itunes" href="https://itunes.apple.com/za/app/sias-vehicle-inspections/id568869391?mt=8" target="_blank">
                        <img src="/Content/images/apple_app.png" /></a></li>
                </ul>
            </li>

        </ul>
    </p>
    <p>
        <span class="label">Developing web applications</span>
        <ul>
            <li>
                <h6>Homeloans call centre application</h6>
            </li>
            <li>
                <h6>Vehicle inspection web site for SIAS agents</h6>
            </li>
        </ul>
    </p>
    <p>
        <span class="label">Development and Support in the UniVerse domain</span>
        <ul>
            <li>
                <h6>Service Provider Payments</h6>
            </li>
            <li>
                <h6>Vehicle inspections application</h6>
            </li>
            <li>
                <h6>Life insurance application</h6>
            </li>
            <li>
                <h6>And various other support systems...</h6>
            </li>
        </ul>
    </p>
</section>
<section class="career">
    <header>
        <h4>Senior Software Developer in .Net (January 2010 until January 2012)</h4>
        <h5>iSixty Services (Part of SIS group)</h5>
        <ul class="techimg">
            <li>
                <img src="/Content/images/tech/csharp.jpg" alt="csharp" /></li>
            <li>
                <img src="/Content/images/tech/asp.jpg" alt="asp" /></li>
            <li>
                <img src="/Content/images/tech/sql.jpg" alt="sql" /></li>
            <li>
                <img src="/Content/images/tech/winserver.jpg" alt="winserver" /></li>
            <li>
                <img src="/Content/images/tech/xmls.jpg" alt="xml" /></li>
        </ul>
    </header>

    <em>Reason for leaving: Company was going through retrenchment process, and friend (Juan
        Hattingh) at OUTsurance suggested I take over his position, as he immigrated abroad.</em>
    <p>
        <span class="label">Responsiblities</span>
        <ul>
            <li>Planning and designing system software</li>
            <li>Responsible for releasing software changes and coordinating client relations accordingly</li>
            <li>Development of .Net Windows, web applications and reporting. As well as extensive work in the SQL</li>
        </ul>
    </p>
    <p>
        <span class="label">Database design and development</span>
        <ul>
            <li>Designed and developed domestic insurance system
            </li>
            <li>Designed and developed commercial insurance system</li>
            <li>Designed and developed finance system for claim payments</li>
        </ul>
    </p>
</section>
<section class="career">
    <header>
        <h4>Senior Software Developer in .Net (March 2009 until January 2010)</h4>
        <h5>Supernatural Technologies</h5>
        <ul class="techimg">
            <li>
                <img src="/Content/images/tech/csharp.jpg" alt="csharp" /></li>
            <li>
                <img src="/Content/images/tech/asp.jpg" alt="asp" /></li>
            <li>
                <img src="/Content/images/tech/sql.jpg" alt="sql" /></li>
            <li>
                <img src="/Content/images/tech/winserver.jpg" alt="winserver" /></li>
            <li>
                <img src="/Content/images/tech/xmls.jpg" alt="xml" /></li>
            <li>
                <img src="/Content/images/tech/vxml.jpg" alt="vxml" /></li>
        </ul>
    </header>
    <em>Reason for leaving: Was my own company, and we had lost a big client which made the
        business unsustainable.</em>
    <p>
        <span class="label">Responsibilities</span>
        <ul>
            <li>Planning and designing system software
            </li>
            <li>Responsible for releasing software changes and coordinating client relations accordingly.</li>
            <li>Project management.</li>
            <li>Development of .Net web applications, reporting and database design.</li>
            <li>Designed insurance system for Finrite insurance, to underwrite cellphone contracts.</li>
            <li>Designed IVR application for Vodacom Mozambiek for recharging of prepaid services.</li>
            <li>Designed IVR application for Mascom Botswana for cellphone customer care services.</li>
        </ul>
    </p>
</section>
<section class="career">
    <header>
        <h4>System Integration Engineer and Java Developer (February 2007 until April 2009)</h4>
        <h5>AfricanPulse Mobile Solutions</h5>
        <ul class="techimg">
            <li>
                <img src="/Content/images/tech/sql.jpg" alt="sql" /></li>
            <li>
                <img src="/Content/images/tech/redhat.jpg" alt="redhat" /></li>
            <li>
                <img src="/Content/images/tech/linux.jpg" alt="linux" /></li>
            <li>
                <img src="/Content/images/tech/java.jpg" alt="java" /></li>
            <li>
                <img src="/Content/images/tech/xmls.jpg" alt="xml" /></li>
            <li>
                <img src="/Content/images/tech/vxml.jpg" alt="vxml" /></li>
        </ul>
    </header>
    <em>Reason for leaving: Had an opportunity to start my own business through Finrite as a contract developer.</em>
    <p>
        <span class="label">Responsibilities</span>
        <ul>
            <li>Working as an implementation engineer for client called Tecnomen (Finland).
            </li>
            <li>Working as an developer for AfricanPulse Mobile.</li>
            <li>Project management</li>
            <li>Did VXML development for IVR and Voicemail systems.</li>
            <li>Did Java development for IVR systems.</li>
            <li>Did company website.</li>
        </ul>
    </p>
</section>
<section class="career">
    <header>
        <h4>Junior Software Developer (February 2006 until January 2007)</h4>
        <h5>3fifteen</h5>
        <ul class="techimg">
            <li>
                <img src="/Content/images/tech/csharp.jpg" alt="csharp" /></li>
            <li>
                <img src="/Content/images/tech/asp.jpg" alt="asp" /></li>
            <li>
                <img src="/Content/images/tech/sql.jpg" alt="sql" /></li>
            <li>
                <img src="/Content/images/tech/winserver.jpg" alt="winserver" /></li>
        </ul>
    </header>
    <em>Reason for leaving: Wanted to focus on my studies, and work closer to home.</em>
    <p>
        <span class="label">Responsibilities</span>
        <ul>
            <li>Programmed using C#/ASP.Net/SQL/Biztalk.
            </li>
            <li>Worked at Edcon on internal project management web site.</li>
            <li>Worked on SA Motorloan integration project</li>

        </ul>
    </p>
</section>
