@{
    ViewBag.Title = "Contact";
}


<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
         <span class="label">Cellphone:</span>
        <span><a href="tel:+2784572301">084 572 3101</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Personal:</span>
        <span><a href="mailto:herman.combrink@gmail.com">herman.combrink@gmail.com</a></span>
    </p>
</section>
<section class="contact">
    <header>
        <h3>Social Network</h3>
    </header>
     <p>
        <span class="label">Skype</span>
        <span><a href="skype:herman.combrink?call" target="_blank">herman.combrink</a></span>
    </p>
    <p>
        <span class="label">Facebook:</span>
        <span><a href="https://www.facebook.com/herman.combrink.5" target="_blank">Herman Combrink</a></span>
    </p>
   
</section>
                                            
                                           

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        1170 Newman Street <br/>
        Queenswood <br/>
        Pretoria
        <br/>
        0186
    </p>
</section>
