@{
    ViewBag.Title = "Hobbies";
}

<section>
    <h5>Road Running</h5>
    <p>
        Love to run at most weekend races. Also enjoy participating in the annual big ultra marathons. I would love to complete some of the international marathons.
        And would like to participate in the Boston marathon one day. Thus far I have completed several of our local ultra marathons (listed below) and marathons
       <ul>
           <li>Comrades</li>
           <li>2 Oceans</li>
           <li>City 2 city </li>
           <li>Loskop </li>
           <li>Om die dam </li>
       </ul>
    </p>
    <h5>Trail Running</h5>
    <p>
        When I can't run on the road, I love to hit the trails. I would love to run ocean floor in Egypt one day, which is one of the world's longest and toughest trail runs.
        Thus far I have completed several local runs, like these listed below. 
          <ul>
           <li>Jonkershoek Sky Run</li>
           <li>Crazy Store Magalies Challange</li>
           <li>Gauteng Trail Series</li>
       </ul>
    </p>
    <h5>Scuba Diving</h5>
    <p>
        When I at the ocean, I can't resist a good scuba diving session. I am currently a certified NUAI Master Diver.
    </p>
    <h5>Gardening</h5>
    <p>
        I also love to get my hands dirty in the garden. I still have a lot to learn, but love to experiment in the garden when I have some spare time.
    </p>
    <h5>Spending time with loved ones</h5>
    <p>Probably the most important for me is to spend time with friends and family as much as possible</p>
</section>

