@{
    ViewBag.Title = "Portfolio";
}
<section>
    <header><h3>@Html.ActionLink("Career as a Developer", "Career")</h3></header>
</section>
<section>
    <header><h3>@Html.ActionLink("Skills Matrix", "Skills")</h3></header>
</section>
<section>
    <header><h3>@Html.ActionLink("Studies and Education", "Studies")</h3></header>
</section>
<section>
    <header><h3>@Html.ActionLink("References", "References")</h3></header>
</section>
<section>
    <header><h3>Personal Development</h3></header>
    <a href="http://www.swiftexpressfoodservices.co.za/" target="_blank">Swift Express and Warehouse</a>
    <p>
        The Specialist of Frozen, Chilled & Dry Goods
    </p>
</section>