@{
    ViewBag.Title = "References";
}
<style>
    ul {
        list-style: none;
    }

        ul li span.label {
            display: inline-block;
            min-width: 35px;
            margin-right: 5px;
        }
</style>

<section>
    <header>
        <h5>OUTsurance</h5>
    </header>

    <ul>
        <li>Greg Livingston</li>
        <li><span class="label">Email</span><a href="mailto:livingstong@out.co.za">livingstong@out.co.za</a></li>
        <li><span class="label">Role</span>Manager</li>
    </ul>
    <ul>
        <li>Marguerite De Beer</li>
        <li><span class="label">Email</span><a href="mailto:debeerma@out.co.za">debeerma@out.co.za</a></li>
        <li><span class="label">Role</span>Project Manager</li>
    </ul>
    <ul>
        <li>Andre Martin</li>
        <li><span class="label">Email</span><a href="mailto:martina@out.co.za">martina@out.co.za</a></li>
        <li><span class="label">Role</span>Development Director</li>
    </ul>
</section>
<section>
    <header>
        <h5>iSixty Services</h5>
    </header>
    <ul>
        <li>Grant McDonough</li>
        <li><span class="label">Email</span><a href="mailto:grant@isixty.co.za">grant@isixty.co.za</a></li>
        <li><span class="label">Role</span>Owner</li>
    </ul>
</section>
<section>
    <header>
        <h5>Supernatural Technologies</h5>
    </header>
    <ul>
        <li>Chris Esterhuyse</li>
        <li><span class="label">Email</span><a href="mailto:chris.esterhuyse@sntech.co.za">chris.esterhuyse@sntech.co.za</a></li>
        <li><span class="label">Role</span>Co-owner of SNTech</li>
    </ul>
     <ul>
        <li>Robert Jabwolski</li>
        <li><span class="label">Email</span><a href="mailto:rjablow@gmail.com">rjablow@gmail.com</a></li>
        <li><span class="label">Role</span>(Previously employed as IT Manager for Finrite)</li>
    </ul>
</section>
<section>
    <header>
        <h5>AfricanPulse Mobile Solutions</h5>
    </header>
    <ul>
        <li>Chris Esterhuyse</li>
        <li><span class="label">Tel</span><a href="skype:0827776318?call">082 777 6318</a></li>
        <li><span class="label">Role</span>Senior Implementation Engineer</li>
    </ul>
     <ul>
        <li>John Moodie</li>
        <li><span class="label">Tel</span><a href="skype:0825800007?call">082 580 0007</a></li>
        <li><span class="label">Role</span>Manager</li>
    </ul>
</section>
