@{
    ViewBag.Title = "Studies";
}


<section class="career">
    <header>
        <h4>Microsoft Certified Solutions Developer (MCSD)</h4>
        <h5 class="label">2014: Web Applications</h5>
    </header>
    <ul>
        <li>Programming in HTML5 with JavaScript and CSS3</li>
        <li>Developing ASP.NET MVC 4 Web Applications</li>
        <li>Developing Windows Azure and Web Services</li>
    </ul>
</section>
<section class="career">
    <header>
        <h4>Microsoft Certified Professional</h4>
        <h5 class="label">2006: Web Applications</h5>
    </header>
    <ul>
        <li>Microsoft Certified Web Developer</li>
        <li>Microsoft Certified Web Services Developer</li>
    </ul>
</section>
<section class="career">
    <header>
        <h4>B-Tech Information Technology</h4>
        <h5 class="label">2006: In Progress</h5>
    </header>
    <ul>
        <li>Student of the year 2005</li>
        <li>Aiming to complete degree in 2015 at University of South Africa</li>
        <li>(3 subjects remaining)</li>
    </ul>
</section>
<section class="career">
    <header>
        <h4>National Diploma Information Technology</h4>
        <h5 class="label">2005: Completed with Cum Laude</h5>
    </header>
    <ul>
        <li>Certificate for outstanding achievement for 1st and 2nd year student</li>
    </ul>
</section>
