.cf-hidden {
    display: none;
}

.cf-invisible {
    visibility: hidden;
}

h1 {
    font: normal 54px/64px Open Sans;
    color: #2e2e2e;
}

h2 {
    font: normal 48px/52px Open Sans;
    color: #2e2e2e;
}

h3 {
    font: normal 24px/30px Open Sans;
    color: #2e2e2e;
}

h4 {
    font: normal 20px/30px Open Sans;
    color: #2e2e2e;
}

h5 {
    font: bold 14px/21px Open Sans;
    color: #2e2e2e;
}

h6 {
    font: bold 14px/21px Open Sans;
    color: #2e2e2e;
}

.main-holder {
    font: normal 13px/21px Arial,Helvetica,sans-serif;
    color: #9c9c9c;
}

.logo_h__txt, .logo_link {
    font: bold italic 30px/30px Playfair Display;
    color: #ffffff;
}

.sf-menu > li > a {
    font: bold 12px/30px Open Sans;
    color: #ffffff;
}

.nav.footer-nav a {
    font: normal 12px/18px Arial,Helvetica,sans-serif;
    color: #ffffff;
}

body {
    background-color: rgba(111, 130, 173, 0.8);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
}



@media(max-width: 767px) {
.sf-menu;    
{
    display: none;
}

.select-menu {
    display: block;
}
}

  