  <li class="dropdown">
          <a href="#" class="dropdown-toggle manage" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span></a>
          <ul class="dropdown-menu" role="menu">
              @if (Request.IsAuthenticated) {
                <li><a href="#">Customize</a></li>
                  <li class="divider"></li>
                  <li class="divider"></li>
                <li><a href="#">Forgot Password</a></li>
                <li><a href="#">Log Out</a></li>
              }else
              {
                 <li><a href="#">Login</a></li>
              }
          </ul>
  </li>



