<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
     -->
    <connectionStrings>
      <add name="DefaultConnection"
        connectionString="SERVER=winsqls02.cpt.wa.co.za;Database=ANA40_Weddings;Uid=ana40;Pwd=Angora10!;Trusted_Connection=yes;Integrated Security=false;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

      <add name="WeddingContext"
      connectionString="metadata=res://*/MyWedding.csdl|res://*/MyWedding.ssdl|res://*/MyWedding.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=winsqls02.cpt.wa.co.za;initial catalog=ANA40_Weddings;persist security info=True;user id=ana40;password=Angora10!;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>

    <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>