@{
    ViewBag.Title = "Customize";
    Layout = "~/Views/Shared/_Layout.Login.cshtml";
}
<div class="view-container span8">
    <div ng-view class="view-frame"></div>
</div>


@section Scripts
{
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/manage")
}
