<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="WeddingContext" connectionString="metadata=res://*/MyWedding.csdl|res://*/MyWedding.ssdl|res://*/MyWedding.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NEWMANHUIS;initial catalog=MyWedding;persist security info=True;user id=sa;password=fila101;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
